/* ------------------------------------------------------------------
Pathfinder Header Animation Styles
------------------------------------------------------------------ */



/* shared */
.anim_line_forward {
    stroke-dasharray: 20;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
.anim_line_backward {
    stroke-dasharray: 20;
    stroke-dasharray: 1000;
    stroke-dashoffset: -500;
}

.anim_line_fade{
    opacity: 0;
}


/* our team */
.anim_pathline_forward {
    stroke-dasharray: 20;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    opacity: 1;
}
.pathdots{
    opacity: 0;
}

#header_title{
    opacity: 0;
}

/* services */

#STARS-0{  transform-origin: 50% 50%; opacity: 0; }
#STARS-1{  transform-origin: 50% 50%; opacity: 0;  }
#STARS-2{  transform-origin: 50% 50%; opacity: 0;  }
#STARS-3{  transform-origin: 50% 50%; opacity: 0;  }

.anim_line_forward_serv {
    stroke-dasharray: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 00;
    opacity: 0;
}


/* home page */

.anim_homeline_forward {
    stroke-dasharray: 20;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
}
.anim_homeline_backward {
    stroke-dasharray: 20;
    stroke-dasharray: 900;
    stroke-dashoffset: 900;
}


/* homepage logo */
#svglogo{

    width: 100%;
    max-width: 960px;
    min-width:320px;
    height: auto;
    position: relative;
    top: 150px;

}

#imglogo{
    position: relative;
    opacity: 0;
    top:150px;
}

.logolline_white{
    stroke:#ffffff;
    stroke-width: 1px;
    fill:#ffffff;
    fill-opacity: 0;
    stroke-dasharray: 20;
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
}

.logolline_red{
    stroke:#b0181e;
    stroke-width: 1px;
    fill:#b0181e;
    fill-opacity: 0;
    stroke-dasharray: 20;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
}

/* contact page */

.anim_line_forward_cont {
    stroke-dasharray: 20;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
}
.anim_line_backward_cont {
    stroke-dasharray: 20;
    stroke-dasharray: 1500;
    stroke-dashoffset: -1500;
}

.anim_carline_forward_cont {
    stroke-dasharray: 20;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    opacity: .5;
}

#F10, #F9, #F8, #F7, #F6, #F5, #F4, #F3, #F2, #F1{
    opacity:.0;
    transform-origin: 50% 50%;
}

#car-l, #car-r, #connector{
    opacity: 0;
}

