
/* Homepage Bulb */

.bulb_cls-1{fill:#ab2328;}
.bulb_cls-2{fill:none;stroke:#ab2328;stroke-linecap:round;stroke-linejoin:round;}

.bulb_3{stroke-dasharray:6 8;stroke-dashoffset:7;animation:oonoROxV_draw 115ms ease 300ms forwards;}
.bulb_4{stroke-dasharray:7 9;stroke-dashoffset:8;animation:oonoROxV_draw 131ms ease 600ms forwards;}
.bulb_5{stroke-dasharray:7 9;stroke-dashoffset:8;animation:oonoROxV_draw 131ms ease 900ms forwards;}
.bulb_6{stroke-dasharray:7 9;stroke-dashoffset:8;animation:oonoROxV_draw 131ms ease 1200ms forwards;}
.bulb_7{stroke-dasharray:7 9;stroke-dashoffset:8;animation:oonoROxV_draw 131ms ease 1500ms forwards;}
.bulb_8{stroke-dasharray:7 9;stroke-dashoffset:8;animation:oonoROxV_draw 131ms ease 1800ms forwards;}

@keyframes oonoROxV_draw{100%{stroke-dashoffset:0;}}
@keyframes oonoROxV_fade{0%{stroke-opacity:1;}95.1219512195122%{stroke-opacity:1;}100%{stroke-opacity:0;}}
